@media(max-width: 1250px) {
    .slider-dt {
        display: none;
    }

    .slider-mob {
        display: flex;
    }
}

@media(max-width: 1200px) {
    .expert-list {
        flex-direction: column;
        margin-bottom : 100px;
    }

    .expert-item {
        width: 100%;
    }

    .section-title {
        font-size: 80px;
    }

    .mb-174 {
        margin-bottom: 100px;
    }

    .group-item {
        width: 100%;
    }
}

@media(max-width: 924px) {


    .burger {
        display   : block;
        transition: .8s
    }

    .burger.active .burger-line {
        opacity: 0
    }

    .burger.active.burger::before {
        top      : 50%;
        transform: rotate(45deg)
    }

    .burger.active.burger::after {
        top      : 50%;
        transform: rotate(-45deg)
    }

    .menu {
        position        : fixed;
        right           : 0;
        top             : 120px;
        width           : 100%;
        height          : 500px;
        z-index         : 2;
        background-color: #A0A0A0;
        transform       : translateX(100%);
        transition      : transform .6s ease-in-out;
        overflow-y      : auto
    }

    .menu-list {
        flex-direction  : column;
        align-items     : flex-start;
        background-color: transparent;
        border-radius   : 0;
    }

    .menu-item:first-child {
        padding-left: 20px;
    }

    .menu-item {
        margin : 20px 0;
        padding: 0 20px
    }

    .menu.visible {
        transform: none
    }

    .menu-item:first-child::before {
        display: none;
    }

    .menu-item:not(:first-child)::before {
        display: none;
    }

    .menu-link {
        color    : #000000;
        font-size: 50px;
    }

    .title-bg {
        display: none;
    }

    .title-inner,
    .expert-list,
    .slogan-wrapper,
    .quote-const,
    .info-inner,
    .quote-inner,
    .title-content    {
        margin-bottom: 50px;
    }

    .header {
        margin: 30px 10px 50px 10px;
    }

    .title-media {
        display   : block;
        text-align: center
    }

    .title-dt {
        display: none;
    }

    .height-410,
    .title-inner {
        height: auto;
    }

    .section-title {
        font-size: 60px;
    }

    .quote-inner::after {
        display: none;
    }

    .flag-lt {
        display: none;
    }

}

@media(max-width: 900px) {
    /* .header {
        margin: 30px 10px 100px 10px;
    } */

    .footer-content__block {
        flex-wrap    : wrap;
        width        : 100%;
        margin-bottom: 40px;

    }

    .footer-text {
        width        : 100%;
        margin-bottom: 40px;

    }

    .footer-content__block.copyright div {
        margin-bottom: 40px;
    }

    .title-blue,
    .title-gray {
        font-size: 50px;
    }

    .slider-item {
        max-width: 100%;
        height   : auto;
    }

    .slider-item-white {
        width : 100%;
        height: auto;
    }

    .slider-item-text {
        margin-bottom: 30px;
    }

    /* .title-content {
        margin-bottom: 100px;
    } */

    .quote-inner {
        flex-wrap      : wrap;
        justify-content: center;
    }

    .quote-img {
        margin: 0 auto;
    }

    .quote-block-text {
        margin: 0;
    }

    /* .quote-const,
    .info-inner {
        margin-bottom: 100px;
    } */

}

@media(max-width: 850px) {
    .section-title {
        font-size: 53px;
    }

    .slogan-emoji {
        width  : 60px;
        padding: 0 10px;
    }

}


@media(max-width: 780px) {}

@media(max-width: 700px) {
    .header-content {
        flex-wrap  : wrap;
        align-items: center;
    }

    .menu {
        width: 100%;
    }

    .title-block-title {
        font-size: 100px;
        margin   : 0;
    }

    .titlt-block-img {
        display: none;
    }
}


@media(max-width: 610px) {

    .section-title,
    .expert-item h3 {
        font-size: 40px;
    }


}

@media(max-width: 550px) {

    .footer-inner {
        flex-wrap: wrap;
    }
}

@media(max-width: 500px) {}


@media(max-width: 450px) {
    .slider-item-title {
        font-size: 40px;
    }
}

@media(max-width: 400px) {}
