body {
    background-color: #f7f7f3;
    font-family     : 'Myriad Pro Regular';
}

a {
    text-decoration: none;
    transition     : .7s;
    color          : inherit;
}

p{
    margin: 0;
}

ul, li{
    margin: 0;
    list-style: none;
}

.wrapper {
    max-width: 1710px;
    margin   : 0 auto;
    padding: 0 10px;
}

.mt-8{
    margin-top: 8px;
}
.mb-24{
    margin-bottom: 24px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-76{
    margin-bottom: 76px;
}

.mb-174{
    margin-bottom: 174px;
}

.pl-70{
    padding-left: 70px;
}
.pr-50{
    padding-right: 50px;
}

.height-410{
    height: 410px;
}
.blue{
    color:#1898F3
}

.bg-white{
    background-color: #FFFFFF;
    border-radius: 60px;
}

.bg-gray{
    background-color: #f7f7f3;
}

.semibold{
    font-family: 'Myriad Pro Semibold';
}

.display-none{
    display: none;
}

/* header */

.header {
    margin: 67px 10px 104px;
}

.header-content {
    display        : flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display         : none;
    position        : relative;
    width           : 80px;
    height          : 43px;
    border          : none;
    padding         : 0;
    background-color: transparent;
    cursor          : pointer
}

.burger-line {
    position         : absolute;
    left             : 0;
    top              : 50%;
    width            : 100%;
    height           : 4px;
    border-radius    : 1px;
    background-color : #000;
    transform        : translateY(-50%)
}

.burger::before {
    position          : absolute;
    content           : "";
    top               : 0;
    left              : 0;
    width             : 100%;
    border-radius     : 1px;
    height            : 4px;
    background-color  : #000;
    transition        : transform .3s ease-in-out, top .3s ease-in-out;
    transition        : transform .3s ease-in-out, top .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.burger::after {
    position          : absolute;
    content           : "";
    bottom            : 0;
    left              : 0;
    width             : 100%;
    border-radius     : 1px;
    height            : 4px;
    background-color  : #000;
    transition        : transform .3s ease-in-out, bottom .3s ease-in-out;
    transition        : transform .3s ease-in-out, bottom .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.stop-scroll {
    overflow: hidden;
}

.not-active{
    display: none;
}


.menu-list {
    height          : 63px;
    padding         : 0;
    background-color: #E1E4EB;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    border-radius   : 35px;
}

.menu-item {
    padding : 0 20px 0 50px;
    position: relative;
    display : block;

}

.menu-item:first-child {
    padding-left: 80px;
}

.menu-item:first-child::before {
    content : url(../images/menu-pic1.png);
    position: absolute;
    left    : 27px;
    top     : -4px;
}

.menu-item:not(:first-child)::before {
    content : url(../images/menu-pic.png);
    position: absolute;
    left    : 10px;
}


.menu-link {
    font-family: Myriad Pro Regular;
    color      : #A0A0A0;
    font-size  : 27px;
    display    : block;
}

.menu-link:hover {
    color: #0E53FF;
}

.lang {
    width           : 161px;
    height          : 63px;
    display         : flex;
    justify-content : space-between;
    background-color: #FFFFFF;
    align-items     : center;
    border-radius   : 35px;
}

.lang-item.lang-link {
    font-family: 'Myriad Pro Semibold';
    color      : #FFFFFF;
}

.lang-link {
    font-family    : Myriad Pro Regular;
    color          : #A0A0A0;
    font-size      : 27px;
    text-align     : center;
    width          : 43px;
    height         : 59px;
    padding        : 0 20px;
    border-radius  : 38px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.lang-link.active {
    background-color: #0E53FF;
    align-items     : center;
    border-radius   : 38px;
}

.lang-link:hover {
    color: #0E53FF;
}

.lang-link.active:hover {
    color: #000000;
}

/* .section-wrapper {
    max-width : 1342px;
    margin: 0 auto;
    padding: 0 10px;
} */

.section-wrapper {
    max-width : 1097px;
    margin: 0 auto;
    padding: 0 10px;
}


/* .section-title{
    font-family: 'Myriad Pro Semibold';
    font-size  : 101px;
    color      : #1898F3;
    text-align : center;
} */

.section-title{
    font-family: 'Roboto';
    font-size  : 88px;
    color      : #1898F3;
    text-align : center;
}


.section-text{
    font-family: 'Myriad Pro Regular';
    font-size: 35px;
    color: #A0A0A0;
    line-height: 55px;
    text-align: center;
}

.title-bg{
    height: 107px;
    background-image: url(../images/title-bg.png);
    width: 100%;
    bottom: 50%;
    position: absolute;
}

.title-inner{
    height: 450px;
    margin-bottom: 104px;
}

.title-blue{
    font-family: 'Myriad Pro Semibold';
    font-size: 101px;
    color: #1898F3;
}

.title-gray{
    color: #CDCFD3;
    font-size: 88px;
}
.title-inner-block{
    max-width: 1145px;
    display: flex;
    justify-content: center;
}
.title-block-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.slider-carousel{
    margin-bottom: 49px;
    display: flex !important;
    justify-content: center;
}

.slider-item{
    max-width: 300px;
    height: 470px;
    border-radius: 30px;
    padding: 60px 45px 28px 46px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 77px;
}

.slider-item-blue{
    background-color: #1898F3;
    color: #FFFFFF;
}

.slider-item-white{
    color: #1898F3;
    border: 10px dashed #1898F3;
    width: 280px;
    height: 450px;
}

.slider-item-title{
    font-family: 'Myriad Pro Semibold';
    font-size: 61px;
    padding: 0;
    margin: 0 0 42px 0;
}

.slider-item-text{
    font-family: 'Myriad Pro Regular';
    font-size: 31px;
    line-height: 35px;
    margin: 0;
}

.slider-item-pics{
    display: flex;
    justify-content: space-between;
}

.slider-item-img{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.slider-mob{
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;

}

.section-wrapper.slider-mob > .slider-item{
    margin: 30px;
}


.expert-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 213px;

}


.expert-item{
    width: 424px;
    text-align: center;
}
.expert-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin:0 auto 27px;
}

.expert-pic img{
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

.expert-title{
    font-family: 'Myriad Pro Semibold';
    font-size: 53px;
    color: #1898F3;
    margin-bottom: 27px;
}

.expert-text{
    font-family: 'Myriad Pro Regular';
    font-size: 30px;
    line-height: 40px;
    color: #A0A0A0;
}


.slogan-wrapper {
    max-width      : 1185px;
    margin: 0 auto 140px;
}

.slogan-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-emoji{
    padding: 0 20px;
}


/* footer */

/* .footer {
    font-family: "Inter", sans-serif;
    font-size  : 22px;
    line-height: 30px;
    color      : #9CA3AF;
}

.footer-text {
    width: 413px;
}

.footer-content {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.footer-content__block {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 107px;
}

.footer-inner {
    width          : 613px;
    display        : flex;
    justify-content: space-between;
}

.footer-inner-column {
    max-width: 310px;
    padding  : 12px;
}

.footer-inner-column ul {
    padding-left: 0;
}


.footer-inner-column ul li {
    margin-bottom: 10px;
    list-style   : none;
}

.footer-inner-column h4 {
    font-size  : 30px;
    font-weight: 400;
    color      : #1898F3;
    padding    : 0;
    margin     : 0 0 20px 0;
}

.phone,
.mail {
    padding-left: 30px;
}

.phone:hover,
.mail:hover {
    color: #0E53FF;
}


.phone::before {
    position: absolute;
    left    : 0;
    top: 4px;
    content : url(../images/phone.png);
}

.mail::before {
    position: absolute;
    left    : 0;
    top: 4px;
    content : url(../images/mail.png);
}

.copyright {
    padding   : 41px 0;
    border-top: 1px solid #9CA3AF;
}

.copyright a:hover {
    color: #0E53FF;
} */


.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-title{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 16px;
}
.footer-link{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 16px;
    color: #1898F3;
    text-decoration: underline;
}
.footer-content-block{
    display: flex;
    flex-direction: column;
    justify-content: end;
}





/* text style */

/* .title-content{
    margin-bottom: 300px;
    position: relative;
} */

.title-content{
    margin-bottom: 120px;
    position: relative;
}


/* .title-content::before{
    position: absolute;
    left: -200px;
    top: 0;
    content : url(../images/gr-big.png);
    z-index: -1;
    filter: blur(18px);
} */

/* .title-block{
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
} */

.title-block{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}


/* .title-block-title{
    font-family: 'Myriad Pro Bold';
    font-size: 130px;
    color: #1898F3;
    margin: 0 0 0 50px;
} */

.title-block-title{
font-family: "Roboto", sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #1898F3;
    margin: 0 0 0 44px;
}


/* .titlt-block-img{
    width: 130px;
    height: 130px;
} */

.titlt-block-img{
    width: 150px;
    height: 150px;
}


/* .title-block-text{
    font-family: 'Myriad Pro Regular';
    font-size: 35px;
    line-height: 43px;
    color: #A0A0A0;
    text-align: center;
} */

.title-block-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #A0A0A0;
    text-align: center;
}


/* .quote-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
} */

.quote-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    position: relative;
}


/* .quote-inner::after{
    position: absolute;
    left: 60vw;
    top: 0;
    content : url(../images/gr-big.png);
    z-index: -1;
    filter: blur(18px);
} */

.quote-inner::after{
    position: absolute;
    left: 40vw;
    top: 0;
    content : url(../images/gr-big-flag.png);
    z-index: -1;
    filter: blur(18px);
}



.quote-block{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 23px;
}

/* .quote-block-title{
    font-family: 'Myriad Pro Semibold';
    font-size: 39px;
    line-height: 39px;
    color: #1898F3;
} */

.quote-block-title{
    font-family: "Roboto", sans-serif;;
    font-size: 18px;
    line-height: 140%;
    color: #1898F3;
}


/* .quote-img{
    width: 220px;
    height: 220px;
    background-color: #1898F3;
    border-radius: 50%;
    margin: 0;
} */

.quote-img{
    width: 132px;
    height: 132px;
    background-color: #1898F3;
    border-radius: 50%;
    margin: 0;
}


/* .quote-img-img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
} */

.quote-img-img{
    width: 132px;
    height: 132px;
    border-radius: 50%;
}

/* .quote-block-text{
    font-family: 'Myriad Pro Regular';
    font-size: 60px;
    line-height: 65px;
    color: #555658;
    margin-left: 76px;
} */

.quote-block-text{
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 150%;
    color: #1898F3;
    margin-left: 64px;
}


/* .quote-const{
    max-width: 1000px;
    margin-bottom: 200px;
} */

.quote-const{
    max-width: 800px;
    margin-bottom: 120px;
}


/* .quote-const-text{
    font-family: 'Myriad Pro Semibold';
    font-size: 60px;
    line-height: 65px;
    color: #1898F3;
    margin: 0 0 40px 0;
} */

.quote-const-text{
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 130%;
    color: #555658;
    margin: 0 0 24px 0;
}


/* .quote-const-pruf{
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
    line-height: 43px;
    color: #A0A0A0 ;
} */

.quote-const-pruf{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 130%;
    color: #A0A0A0 ;
    margin-bottom: 24px;
}


/* .info-inner{
    margin-bottom: 243px;
    position: relative;
} */

.info-inner{
    margin-bottom: 120px;
    position: relative;
}


/* .info-inner::before{
    position: absolute;
    left: -200px;
    top: 0;
    content : url(../images/gr-big.png);
    z-index: -1;
    filter: blur(18px);
} */




.info-title{
    text-align: center;
    font-family: 'Myriad Pro Regular';
    font-size: 60px;
    color: #555658;
    margin-bottom: 112px;
}

/* .info-item{
    display: flex;
    justify-content: left;
    margin-bottom: 65px;
} */

.info-item{
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
}


.info-item-block{
    margin-left: 37px;
}

/* .info-item-title{
    font-family: 'Myriad Pro Semibold';
font-size: 76px;
color: #1898F3;
margin: 0;
} */

.info-item-title{
    font-family: 'Roboto';
font-size: 32px;
font-weight: 600;
line-height: 130%;
color: #1898F3;
margin: 0;
}


/* .info-item-text{
    font-family: 'Myriad Pro Regular';
font-size: 45px;
line-height: 53px;
color: #555658;
margin-top: 45px;
} */

.info-item-text{
    font-family: 'Roboto';
font-size: 24px;
line-height: 130%;
font-weight: 400;
color: #555658;
margin-top: 16px;
}


/* .nb{
    position: relative;
    text-decoration: underline solid #1898F3;
} */

.nb{
    position: relative;
    font-weight: 600;
}


/* .nb::before{
    position: absolute;
    left    : -40px;
    content : url(../images/nb.png);
} */

.nb::before{
    width: 6px;
    height: 25px;
    position: absolute;
    left    : -20px;
    content : url(../images/nb1.png);
}


.info-item-list li{
    list-style: disc;
    margin-bottom: 7px;
}

.line{
    list-style-type: "-";
}

.info-item-list.mb-25 li {
    margin-bottom: 25px;
}


/* .info-item-btn{
    width: 64px;
    height: 64px;
background-image: url(../images/btn.png);
background-position: center;
background-repeat: no-repeat;
border: none;
border-radius: 50%;
background-color: #FFFFFF;
cursor: pointer;
} */

.info-item-btn{
    width: 40px;
    height: 40px;
background-image: url(../images/btn.png);
background-position: center;
background-repeat: no-repeat;
border: none;
border-radius: 50%;
background-color: #FFFFFF;
cursor: pointer;
}


.color-gray{
    color: #A0A0A0
}

.rotate{
    transform: rotate(90deg) !important;
    transition: .4s;
}

