body {
    background-color: #f7f7f3;
    font-family     : "Roboto", sans-serif;
}


h1 {
    margin : 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition     : .7s;
    color          : inherit;
}

p {
    margin: 0;
}

ul,
li {
    margin    : 0;
    list-style: none;
}

.wrapper {
    max-width: 1180px;
    margin   : 0 auto;
    padding  : 0 10px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-24px {
    margin-top: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-76 {
    margin-bottom: 76px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-174 {
    margin-bottom: 174px;
}

.pl-70 {
    padding-left: 70px;
}

.pr-50 {
    padding-right: 50px;
}

.height-410 {
    height: 410px;
}

.blue {
    color: #1898F3
}

.bg-white {
    background-color: #FFFFFF;
    border-radius   : 60px;
}

.bg-gray {
    background-color: #f7f7f3;
}

.attn {
    font-weight    : 600;
    text-decoration: underline;
}


.display-none {
    display: none;
}

.flex {
    display        : flex;
    justify-content: space-between;
}


.header {
    margin: 67px 10px 104px;
}

.header-content {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.burger {
    display         : none;
    position        : relative;
    width           : 80px;
    height          : 43px;
    border          : none;
    padding         : 0;
    background-color: transparent;
    cursor          : pointer
}

.burger-line {
    position        : absolute;
    left            : 0;
    top             : 50%;
    width           : 100%;
    height          : 4px;
    border-radius   : 1px;
    background-color: #000;
    transform       : translateY(-50%)
}

.burger::before {
    position        : absolute;
    content         : "";
    top             : 0;
    left            : 0;
    width           : 100%;
    border-radius   : 1px;
    height          : 4px;
    background-color: #000;
    transition      : transform .3s ease-in-out, top .3s ease-in-out;
    transition      : transform .3s ease-in-out, top .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.burger::after {
    position        : absolute;
    content         : "";
    bottom          : 0;
    left            : 0;
    width           : 100%;
    border-radius   : 1px;
    height          : 4px;
    background-color: #000;
    transition      : transform .3s ease-in-out, bottom .3s ease-in-out;
    transition      : transform .3s ease-in-out, bottom .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.stop-scroll {
    overflow: hidden;
}

.not-active {
    display: none;
}


.menu-list {
    height          : 63px;
    padding         : 0;
    background-color: #E1E4EB;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    border-radius   : 35px;
}

.menu-item {
    padding : 0 20px 0 50px;
    position: relative;
    display : block;

}

.menu-item:first-child {
    padding-left: 80px;
}

.menu-item:first-child::before {
    content : url(../images/menu-pic1.png);
    position: absolute;
    left    : 27px;
    top     : -4px;
}

.menu-item:not(:first-child)::before {
    content : url(../images/menu-pic.png);
    position: absolute;
    left    : 10px;
}


.menu-link {
    font-family: Myriad Pro Regular;
    color      : #A0A0A0;
    font-size  : 27px;
    display    : block;
}

.menu-link:hover {
    color: #0E53FF;
}

.menu-link.active {
    color: #0E53FF;
}


.lang {
    width           : 161px;
    height          : 63px;
    display         : flex;
    justify-content : space-between;
    background-color: #FFFFFF;
    align-items     : center;
    border-radius   : 35px;
}

.lang-item.lang-link {
    color: #FFFFFF;
}

.lang-link {
    color          : #A0A0A0;
    font-size      : 27px;
    text-align     : center;
    width          : 43px;
    height         : 59px;
    padding        : 0 20px;
    border-radius  : 38px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.lang-link.active {
    background-color: #0E53FF;
    align-items     : center;
    color           : #FFFFFF;
    border-radius   : 38px;
}

.lang-link:hover {
    color: #0E53FF;
}

.lang-link.active:hover {
    color: #000000;
}

.section-title {
    font-size : 88px;
    color     : #1898F3;
    text-align: center;
}


.section-text {
    font-size  : 35px;
    color      : #A0A0A0;
    line-height: 55px;
    text-align : center;
}

.title-bg {
    height          : 107px;
    background-image: url(../images/title-bg.png);
    width           : 100%;
    bottom          : 50%;
    position        : absolute;
}

.title-inner {
    height       : 450px;
    margin-bottom: 100px;
}

.title-blue {
    font-size: 90px;
    color    : #1898F3;
}

.title-gray {
    color    : #CDCFD3;
    font-size: 90px;
}

.title-inner-block {
    max-width      : 1145px;
    display        : flex;
    justify-content: center;
}

.title-block-item {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    text-align     : center;
}

.title-block-item img {
    margin: 0 auto;
}


.title-media {
    display: none;
}


.slider-carousel {
    margin-bottom  : 49px;
    display        : flex !important;
    justify-content: center;
    margin-bottom  : 150px !important;
}

.slider-item {
    max-width      : 250px;
    height         : 550px;
    border-radius  : 30px;
    padding        : 60px 45px 28px 46px;
    display        : flex !important;
    flex-direction : column;
    justify-content: space-between;
}

.slider-item-blue {
    background-color: #1898F3;
    color           : #FFFFFF;
}

.slider-item-white {
    color : #1898F3;
    border: 10px dashed #1898F3;
    width : 230px;
    height: 530px;
}

.slider-item-title {
    font-size: 61px;
    padding  : 0;
    margin   : 0 0 42px 0;
}

.slider-item-text {
    font-size  : 31px;
    line-height: 35px;
    margin     : 0;
}

.slider-item-pics {
    display        : flex;
    justify-content: space-between;
}

.slider-item-img {
    display        : flex;
    flex-direction : column;
    justify-content: end;
}

.slider-mob {
    display        : none;
    justify-content: space-between;
    flex-wrap      : wrap;

}

.section-wrapper.slider-mob>.slider-item {
    margin: 30px 0;
}


.expert-list {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 140px;

}


.expert-item {
    width        : 424px;
    text-align   : center;
    margin-bottom: 60px;
}

.expert-pic {
    width        : 300px;
    height       : 300px;
    border-radius: 50%;
    margin       : 0 auto 27px;
}

.expert-pic img {
    width        : 300px;
    height       : 300px;
    border-radius: 50%;

}


.expert-item h3 {
    font-size    : 53px;
    color        : #1898F3;
    margin-bottom: 27px;
}

.expert-item p {
    font-size  : 30px;
    line-height: 40px;
    color      : #A0A0A0;
}


.slogan-wrapper {
    max-width: 1185px;
    margin   : 0 auto 120px;
}

.slogan-content {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.slogan-emoji {
    padding: 0 20px;
}


/* footer */

/* .footer {
    font-family: "Inter", sans-serif;
    font-size  : 22px;
    line-height: 30px;
    color      : #9CA3AF;
}

.footer-text {
    width: 413px;
}

.footer-content {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.footer-content__block {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 107px;
}

.footer-inner {
    width          : 613px;
    display        : flex;
    justify-content: space-between;
}

.footer-inner-column {
    max-width: 310px;
    padding  : 12px;
}

.footer-inner-column ul {
    padding-left: 0;
}


.footer-inner-column ul li {
    margin-bottom: 10px;
    list-style   : none;
}

.footer-inner-column h4 {
    font-size  : 30px;
    font-weight: 400;
    color      : #1898F3;
    padding    : 0;
    margin     : 0 0 20px 0;
}

.phone,
.mail {
    padding-left: 30px;
}

.phone:hover,
.mail:hover {
    color: #0E53FF;
}


.phone::before {
    position: absolute;
    left    : 0;
    top: 4px;
    content : url(../images/phone.png);
}

.mail::before {
    position: absolute;
    left    : 0;
    top: 4px;
    content : url(../images/mail.png);
}

.copyright {
    padding   : 41px 0;
    border-top: 1px solid #9CA3AF;
}

.copyright a:hover {
    color: #0E53FF;
} */


.footer-content {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.footer-title {
    font-family  : "Roboto";
    font-weight  : 600;
    font-size    : 18px;
    line-height  : 30px;
    margin-bottom: 16px;
}

.footer-link {
    font-size      : 18px;
    line-height    : 30px;
    margin-bottom  : 16px;
    padding-left   : 35px;
    color          : #1898F3;
    text-decoration: underline;
}

.footer-link:hover {
    color     : #0E53FF;
    transition: .7s;
}

.footer-content-block {
    display        : flex;
    flex-direction : column;
    justify-content: end;
}

.footer-list {
    padding-left: 0;
}

.footer-list-item {
    position: relative;
}

.footr-license-block {
    display        : flex;
    justify-content: space-between;
    width          : 176px;
}

.tg::before {
    position: absolute;
    left    : 0;
    top     : 4px;
    content : url(../images/tg.png);
}

.mail::before {
    position: absolute;
    left    : 0;
    top     : 4px;
    content : url(../images/mail.png);
}

.site::before {
    position: absolute;
    left    : 0;
    top     : 4px;
    content : url(../images/site.png);
}




/* text style */

/* .title-content{
    margin-bottom: 300px;
    position: relative;
} */

.title-content {
    margin-bottom: 120px;
    position     : relative;
}


/* .title-content::before{
    position: absolute;
    left: -200px;
    top: 0;
    content : url(../images/gr-big.png);
    z-index: -1;
    filter: blur(18px);
} */

/* .title-block{
    margin-bottom: 68px;
    display: flex;
    justify-content: center;
} */

.title-block {
    margin-bottom  : 32px;
    display        : flex;
    justify-content: center;
}


/* .title-block-title{
    font-family: 'Myriad Pro Bold';
    font-size: 130px;
    color: #1898F3;
    margin: 0 0 0 50px;
} */

.title-block-title {
    font-size  : 120px;
    font-weight: 700;
    color      : #1898F3;
    margin     : 0 0 0 44px;
}


/* .titlt-block-img{
    width: 130px;
    height: 130px;
} */

.titlt-block-img {
    width : 150px;
    height: 150px;
}


/* .title-block-text{
    font-family: 'Myriad Pro Regular';
    font-size: 35px;
    line-height: 43px;
    color: #A0A0A0;
    text-align: center;
} */

/* .title-block-text {
    font-weight: 400;
    font-size  : 18px;
    line-height: 25px;
    color      : #A0A0A0;
    text-align : center;
} */

.title-block p {
    font-weight: 400;
    font-size  : 18px;
    line-height: 25px;
    color      : #A0A0A0;
    text-align : center;

}


/* .quote-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
} */

.flag-lt {
    width       : 150px;
    height      : 150px;
    margin-right: 20px;
}

.quote-inner {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 120px;
    position       : relative;
}


/* .quote-inner::after{
    position: absolute;
    left: 60vw;
    top: 0;
    content : url(../images/gr-big.png);
    z-index: -1;
    filter: blur(18px);
} */

.quote-inner.gr::after {
    position: absolute;
    left    : 40vw;
    top     : 0;
    content : url(../images/georgian_flag.png);
    z-index : -1;
}

.quote-inner.lt::after {
    position: absolute;
    left    : 50vw;
    top     : 300px;
    content : url(../images/lt-big.png);
    z-index : -1;
    filter  : blur(10px);
}

.quote-inner.pl::after {
    position: absolute;
    left    : 50vw;
    top     : 300px;
    content : url(../images/pl-big.png);
    z-index : -1;
    filter  : blur(10px);
}


.quote-block {
    display       : flex;
    flex-direction: column;
    text-align    : left;
    margin-bottom : 23px;
}

/* .quote-block-title{
    font-family: 'Myriad Pro Semibold';
    font-size: 39px;
    line-height: 39px;
    color: #1898F3;
} */

.quote-block-title {
    font-size  : 18px;
    line-height: 140%;
    color      : #1898F3;
    text-align : center;
}


/* .quote-img{
    width: 220px;
    height: 220px;
    background-color: #1898F3;
    border-radius: 50%;
    margin: 0;
} */

.quote-img {
    width           : 132px;
    height          : 132px;
    background-color: #1898F3;
    border-radius   : 50%;
    margin          : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : relative;
}

.quote-link {
    color          : #1898F3;
    text-decoration: underline;
}

/* .quote-img-img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
} */

.quote-img-img {
    width           : 109px;
    height          : 109px;
    /* border-radius: 50%; */
    position        : absolute;
    /* top          : 25px; */
}

/* .quote-block-text{
    font-family: 'Myriad Pro Regular';
    font-size: 60px;
    line-height: 65px;
    color: #555658;
    margin-left: 76px;
} */

.quote-block-text {
    font-size  : 32px;
    line-height: 150%;
    color      : #1898F3;
    margin-left: 64px;
}


/* .quote-const{
    max-width: 1000px;
    margin-bottom: 200px;
} */

.quote-const {
    max-width    : 800px;
    margin-bottom: 120px;
}


/* .quote-const-text{
    font-family: 'Myriad Pro Semibold';
    font-size: 60px;
    line-height: 65px;
    color: #1898F3;
    margin: 0 0 40px 0;
} */

.quote-const-text {
    font-size  : 24px;
    line-height: 130%;
    color      : #555658;
    margin     : 0 0 24px 0;
}

.quote-const-text li {
    list-style: disc;
}

/* .quote-const-pruf{
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
    line-height: 43px;
    color: #A0A0A0 ;
} */

.quote-const-pruf {
    font-size  : 16px;
    line-height: 130%;
    color      : #A0A0A0;
}


/* .info-inner{
    margin-bottom: 243px;
    position: relative;
} */

.info-inner {
    /* margin-bottom: 120px; */
    position: relative;
}


/* .info-inner::before{
    position: absolute;
    left: -200px;
    top: 0;
    content : url(../images/gr-big.png);
    z-index: -1;
    filter: blur(18px);
} */




.info-title {
    text-align   : center;
    font-size    : 60px;
    color        : #555658;
    margin-bottom: 112px;
}


.info-item {
    margin-bottom: 40px;
}


.info-item-block {
    margin-left: 37px;
}


.info-item-title {
    font-size  : 32px;
    font-weight: 600;
    line-height: 130%;
    color      : #1898F3;
    margin     : 0;
}



.info-item-text {
    font-size  : 24px;
    line-height: 130%;
    font-weight: 400;
    color      : #555658;
    margin-top : 16px;
}

.info-item-text ul {
    margin-bottom: 24px;
    ;

}

.info-item-text p {
    margin-bottom: 24px;
}

.info-item-text ul>li {
    list-style: disc;

}




.nb {
    position   : relative;
    font-weight: 600;
}



.nb::before {
    width   : 6px;
    height  : 25px;
    position: absolute;
    left    : -20px;
    content : url(../images/nb1.png);
}


/* .info-item-list li {
    list-style      : disc; 
    /* /* margin-bottom: 7px;
}*/

/* .line {
    list-style-type: "-";
} */

/* .info-item-list.mb-25 li {
    margin-bottom: 25px;
} */


/* .info-item-btn{
    width: 64px;
    height: 64px;
background-image: url(../images/btn.png);
background-position: center;
background-repeat: no-repeat;
border: none;
border-radius: 50%;
background-color: #FFFFFF;
cursor: pointer;
} */

.info-add h3 {
    margin         : 0;
    text-decoration: underline;

}


.info-add-title-block,
.info-item-title-block {
    display: flex;
}

/* .info-add-title {
    margin         : 0;
    text-decoration: underline;
} */

.info-item-btn {
    width              : 40px;
    height             : 40px;
    background-image   : url(../images/btn-arrow.png);
    background-position: center;
    background-repeat  : no-repeat;
    border             : none;
    border-radius      : 50%;
    background-color   : #FFFFFF;
    cursor             : pointer;
    margin-right       : 20px;
}

.info-add-btn {
    width              : 32px;
    height             : 32px;
    background-image   : url(../images/add-btn-arrow.png);
    background-position: center;
    background-repeat  : no-repeat;
    border             : none;
    border-radius      : 50%;
    background-color   : #FFFFFF;
    cursor             : pointer;
    margin-left        : 18px;
}


.info-add {
    display        : flex;
    justify-content: left;
    margin-bottom  : 40px;
}

.info-add-text {
    margin-top: 24px;
}

.info-add-text li {
    color        : #A0A0A0;
    margin-bottom: 24px;
}

.color-gray {
    color: #A0A0A0
}

.rotate {
    transform : rotate(151deg) !important;
    transition: .4s;
}

.rotate-180 {
    transform : rotate(180deg) !important;
    transition: .4s;
}

.group-inner {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;


}

.group-item {
    width           : 500px;
    background-color: #1898F3;
    border-radius   : 32px;
    color           : #FFFFFF;
    padding         : 28px;
}

.group-title {
    font-size     : 32px;
    font-weight   : 600;
    /* margin     : 0 0 16px 0; */
    max-width     : 800px;
    line-height   : 130%;
    color         : #555658;
}

.group-item-title {
    font-size  : 32px;
    font-weight: 600;
    text-align : center;
    margin     : 0 0 40px 0;
}

.group-subtitle {
    font-size  : 24px;
    font-weight: 600;
    text-align : center;
}


.group-item p {
    font-size  : 24px;
    font-weight: 400;

}


.group-text {
    font-weight: 400;
    font-size  : 24px;
    line-height: 130%;
    color      : #555658;
    max-width  : 840px;
}

.group-img {
    display        : flex;
    justify-content: center;
}

.group-img-img {
    max-width: 100%;
}

.tabs {
    /* max-width: 700px;
    margin: 0 0 30px; */
}

.tabs__caption {
    display        : flex;
    flex-wrap      : wrap;
    list-style     : none;
    position       : relative;
    justify-content: space-between;
    width          : 100%;
    margin-bottom  : 80px;
    padding        : 0;
}


.tabs__caption li:last-child:before {
    content      : '';
    position     : absolute;
    bottom       : -5px;
    left         : 0;
    right        : -2px;
    z-index      : -1;
    height       : 5px;
    /* background: #7DCA86; */
}

.tabs__caption:after {
    content: '';
    display: table;
    clear  : both;
}

.tabs__caption li {
    /* width           : 200px; */
    color           : #A0A0A0;
    font-size       : 24px;
    line-height     : 130px;
    text-align      : center;
    background-color: transparent;
    position        : relative;
    border          : 1px solid #A0A0A0;
    border-radius   : 32px;
    height          : 63px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-bottom   : 30px;
}

.tabs__caption li:hover {
    color : #1898F3;
    border: 1px solid #1898F3 !important;
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}

.tabs__caption li:not(.active):hover {
    background  : transparent;
    border-color: #A0A0A0;
}

.tabs__caption .active {
    background: transparent;
    color     : #1898F3;
    border    : 1px solid #1898F3;
}

.tabs__caption .active:after {
    content   : '';
    position  : absolute;
    bottom    : -5px;
    left      : 0;
    right     : 0;
    height    : 5px;
    background: transparent;
}

.tabs__content {
    display         : none;
    background      : transparent;
    border-radius   : 32px;
    /* padding      : 32px; */
}

.tabs__content.active {
    display: block;
}

.vertical .tabs__caption {
    float  : left;
    display: block;
}

.vertical .tabs__caption li {
    float        : none;
    border-width : 2px 0 2px 2px;
    border-radius: 5px 0 0 5px;
}

.vertical .tabs__caption li:last-child:before {
    display: none;
}

.vertical .tabs__caption .active:after {
    left  : auto;
    top   : 0;
    right : -2px;
    bottom: 0;
    width : 2px;
    height: auto;
}

.vertical .tabs__content {
    overflow: hidden;
}

.tabs__content-wrapper {
    display: flex;
}

.tabs__content-block {
    /* background-color: #FFFFFF; */
    border-radius   : 32px;
    /* padding      : 32px; */
}

.tabs__content-title {
    font-size    : 24px;
    font-weight  : 600;
    line-height  : 130%;
    color        : #555658;
    margin-bottom: 16px;
}

.tabs__content-item p {
    font-size    : 18px;
    font-weight  : 400;
    color        : #555658;
    line-height  : 130%;
    margin-bottom: 16px;
}


.tabs__content-item {
    background-color: #FFFFFF;
    margin-bottom   : 40px;
    border-radius   : 32px;
    padding         : 32px;
}

.tabs__content-item form {
    display       : flex;
    flex-direction: column;
}

.tabs__content-item label:not(:last-of-type) {
    margin-bottom: 16px;
}

.tabs__content-item label {
    display    : flex;
    align-items: center;
    gap        : 16px;
}

.tabs__content-item label input {
    margin: 0;
}

.tabs__content-item label input[type="text"] {
    width        : 100%;
    border       : none;
    border-bottom: 1px solid #000000;
}

.tabs__content-text ul {
    list-style: disc;
}

.tabs__content-link {
    color          : #1898F3;
    text-decoration: underline;
}

.tab__content-small {
    width           : 288px;
    padding         : 32px;
    font-size       : 16px;
    color           : #555658;
    line-height     : 130%;
    background-color: #FFFFFF;
    border-radius   : 32px;
    height          : fit-content;
    margin          : 0 0 32px 32px;
}

.tabs__content-small-inner {
    display       : flex;
    flex-direction: column;
}

/* .tab__content-small p{
    width: 288px;
    padding: 32px;
    font-size: 16px;
    color: #555658;
} */


.tab__content-small-block {
    display    : flex;
    align-items: center;
}

.tab__content-small-block h4 {
    font-weight: 700;
    margin-left: 10px;
}

.tab__content-small-block p {
    margin-left: 16px;
}


@media screen and (max-width: 650px) {
    .tabs__caption li {
        -webkit-flex: 1 0 auto;
        -ms-flex    : 1 0 auto;
        flex        : 1 0 auto;
    }

    .vertical .tabs__caption {
        float  : none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .vertical .tabs__caption li {
        border-width : 2px 2px 0;
        border-radius: 5px 5px 0 0;
    }

    .vertical .tabs__caption li:last-child:before {
        display: block;
    }

    .vertical .tabs__caption .active:after {
        top       : auto;
        bottom    : -5px;
        left      : 0;
        right     : 0;
        width     : auto;
        height    : 5px;
        background: #FFF;
    }
}

.country {
    font-size  : 24px;
    line-height: 130%;
}

.country ul>li {
    list-style-type: disc;
    margin-bottom  : 8px;
}

.country h3 {
    font-weight  : 700;
    margin-bottom: 24px;
}

.country a {
    color          : #1898F3;
    text-decoration: underline;

}

.doble-inner {
    display        : flex;
    justify-content: space-between;
    font-size      : 24px;
    line-height    : 130%;
}

.doble-block {
    display        : flex;
    justify-content: space-between;
    flex-direction : column;
}

.doble-block-img {
    width           : 240px;
    height          : 240px;
    background-color: #1898F3;
    border-radius   : 50%;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.doble-block-img img {
    width : 240px;
    height: 240px;
}

.doble-block a {
    color          : #1898F3;
    text-decoration: underline;
    cursor         : pointer;
}

.doble-block:not(:first-child) {
    margin-left: 80px;
}
